.page__content {
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media (max-width: 1020px) {
  .page__content {
    max-width: calc(880 / 1020 * 100%);
  }
}

@media (max-width: 760px) {
  .page__content {
    max-width: 100%;
    padding-bottom: 36px;
  }
}
