.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  background-image: url(./../../../images/add-button.svg);
  background-size: 22px;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: opacity .5s ease-in-out;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .profile__add-button {
    margin: 36px auto;
    min-width: 282px;
    background-size: 16px;
  }
}
