.popup__container_type_login {
    background-color: #000;
    margin: auto;
    padding-top: 60px;
}

@media screen and (max-width: 425px) {
    .popup__container_type_login {
        padding: 40px;
    }
}
