@media screen and (max-width: 425px) {
    .header__head {
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }
}
