.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 45px;
}

@media screen and (max-width: 760px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 0;
        padding-top: 28px;
        padding-bottom: 31px;
        box-sizing: border-box;
    }
}
